.container25 {
    text-align: center;
    margin: 20px;
  }
  .button25 {
    background-color: #7743DB;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  .button25:hover {
    background-color: #ffffff; 
    color: #000;
    transform: scale(1.05);


  }
  .likeCount25 {
    margin-top: 10px;
    font-size: 14px;
    color: #000000;
  }
.container25 {
    text-align: center;
    margin: 20px;
}

.button25 {
    background-color: #7743DB;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button25:hover {
    background-color: #ffffff; 
    color: #000;
    transform: scale(1.05);
}

.likeCount25 {
    margin-top: 10px;
    font-size: 14px;
    color: #000000;
}

@media screen and (max-width: 767px) {
    .button25 {
        font-size: 14px;
        padding: 8px 16px;
    }

    .likeCount252 {
        font-size: 12px;
    }
}

@media screen and (min-width: 767px) and (max-width: 991px) {
    .button25 {
        font-size: 15px;
        padding: 9px 18px;
    }

    .likeCount25 {
        font-size: 13px;
    }
}

@media screen and (min-width: 991px) and (max-width: 1200px) {
    .button25 {
        font-size: 16px;
        padding: 10px 20px;
    }

    .likeCount25 {
        font-size: 14px;
    }
}

@media screen and (min-width: 1201px) {
    .button25 {
        font-size: 18px;
        padding: 12px 24px;
    }

    .likeCount25 {
        font-size: 16px;
    }
}
