
.adopt-info-section-between66{
    background:#7743DB ;
    margin: 40px auto;
    padding: 20px;
    border-radius: 8px;

    width: 90%;
    max-width: 1200px;
}

.adopt-info-title-between66{
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 1.5em;
}

.adopt-info-paragraph-between66{
    font-size: 1.1em;
    line-height: 1.8;
    text-align: justify;
    margin-bottom: 20px;
    color: #ffffff;
}