.custom-accordion {
    width: 90%;
    max-width: 800px;
    margin: auto;
}

.accordion-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.accordion-checkbox {
    display: none;
}

.accordion-toggle {
    display: block;
    background: #7743DB;
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    outline: none;
    text-align: left;
    transition: background 0.3s ease;
}

.accordion-toggle:hover {
    background: #C3ACD0;
}

.accordion-content {
    display: none;
    padding: 10px 15px;
    background: #C3ACD0;
    font-size: 0.9rem;
    line-height: 1.5;
}