.volunteer-form-section {
    background-color: #C3ACD0;
    padding: 40px;
    text-align: center;
}

.form-container {
    background: white;
    padding: 70px;
    margin: auto;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #0056b3;
}
#vfbutton:hover {
    border: 8px solid #b1d8ff;
    background-color: #1b7aff;
  }
  #vfbutton:active {
    border: 5px solid #c0dfff;
  }
  #vfbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 32px;
    background-color: #7743DB;
    border: 8px solid #c0dfff;
    color: white;
    gap: 8px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 1px;
  }
  #vfbutton:hover {
      border: 8px solid #b1d8ff;
      background-color: #C3ACD0;
    }
    #vfbutton:active {
      border: 5px solid #c0dfff;
    }
    .call-to-action {
        text-align: center;
        margin: 20px;
        font-size: 1.1rem;
        font-family: Arial, Helvetica, sans-serif;
    }