body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    background-color: #FFFBF5;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7743DB;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo img {
    border-radius: 50px;
    max-height: 70px;
    margin-left: 200px;
}

.navigation {
    list-style: none;
    padding: 0;
    margin: 10px;
    display: flex;
    align-items: center;
}

.navigation li {
    position: relative;
    margin: 0 10px;
}

.navigation a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s;
}

.navigation a:hover {
    border-radius: 10px;
    color: #000000;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #FFFBF5;
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    z-index: 1000;
}

.navigation li:hover .submenu {
    display: block;
}

.submenu li {
    margin: 0;
}

.submenu a {
    padding: 10px 15px;
    color: #7743DB;
    white-space: nowrap;
}
.submenu a:hover {
    background-color: #ffffff;
    border-radius: 10px;
}

button.Donate {
    margin-right: 300px;
    background-color: #f7b605;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 10px;
}

button.Donate:hover {
    color: #ffffff;
}