.col-md-6-text-white-p-477 {
    margin: 0 auto; 
    color: white; 
    padding: 1.5rem; 
  }
  .mb-477 {
    margin-bottom: 1.5rem;
  }
/* 
  h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #444;
  } */
  #rescuePageH77{
    color: white;
    font-size:3rem;
  }

  #rescuePageP77 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
  }