

body {
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
}

.description {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.description h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #7743DB;
}

.description h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 15px;
}

.description p {
    margin: 10px 0;
    font-size: 1rem;
    line-height: 1.8;
    color: #555;
}

.description b {
    color: #C3ACD0;
}

.description p:hover {
    background-color: #f1f1f1;
    border-left: 4px solid #007bff;
    padding-left: 10px;
    transition: background-color 0.3s, padding-left 0.3s;
}

@media (max-width: 768px) {
    .description h2 {
        font-size: 1.8rem;
    }

    .description h3 {
        font-size: 1.3rem;
    }

    .description p {
        font-size: 0.9rem;
    }
}
