/* Search Container */
.search-container66 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

#search-box {
    padding: 12px;
    font-size: 1rem;
    width: 320px;
    border: 2px solid #7743DB;
    border-radius: 5px 0 0 5px;
    outline: none;

}
/*smaller bar for phone*/
@media screen and (max-width: 750px) { 
    #search-box{
        width: 250px;
    }
}

.adoption-button66 {
    padding: 14px 20px;
    font-size: 1rem;
    background-color: #7743DB;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}
.adoption-button66:hover {
    background-color: #5f31b4;
}
