.animals-container66{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0px;
    margin: 0 auto;
    max-width: 1400px;
    margin-top: -10px;
    justify-content: center;
    
}

/*only one card will apear for the user when he is using phone*/
@media screen and (max-width: 750px) { 
    .animals-container66{
        flex-direction: column;
        align-items: center;
        


    };
    
}
.animals-container66 a { /* just because i dont want lines under the words */
    text-decoration: none;
  }
