
div img{
    position: absolute;
    top : 0 ;
}
#one{
position: absolute;
color: white;
left: 0;
z-index: 1;
padding: 300px;
}


#description nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 0; 
}

#section_2 dl{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}