.adopt-info-section66 {
    background: #ffffff;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;

    width: 90%;
    max-width: 1200px;
}


.adopt-info-title66 {


    margin-bottom: 10px;
    color: #7743DB;
    font-size: 1.5em;
}

.adopt-info-paragraph66 {
    font-size: 1.1em;
    line-height: 1.8;
    text-align: justify;
    margin-bottom: 20px;
}

