
body{
    background-color: #F7EFE5;
}
.top-left {
    position: absolute;
    top: 7rem;
    left: 6rem;
    color: #FFFBF5;
 }
  .accordion {
    background-color:  #FFFBF5;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  } 
  
  .accordion:hover {
    background-color: #F7EFE5;
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    overflow: hidden;
  }